<!--
  ~ Rooster Mornings Android.
  ~ Copyright (c)  2017 Roosta Media. All rights reserved.
  -->

<manifest
    package="${applicationId}.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>
</manifest>