<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roostermornings.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="500">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.DeviceAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="receiver.ALARM_RECEIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".background.BackgroundTaskReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="207f8c17b3eb2499afa66f49b1502cae676c5ca2" />

        <activity
            android:name=".activity.IntroFragmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarIntro" />
        <activity
            android:name=".activity.SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarIntro" />
        <activity
            android:name=".activity.SignupEmailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarIntro" />
        <activity
            android:name=".activity.MyAlarmsFragmentActivity"
            android:label="@string/my_alarms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewAlarmFragmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/create_alarm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewAudioRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Record Audio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.NewAudioFriendsActivity" />
        <activity
            android:name=".activity.DeviceAlarmFullScreenActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar"

            />
    </application>

</manifest>